.moduleHrefInner {
    color: rgba(130, 130, 130, 1);
    &Block {
        margin-left: 21px;
        margin-top: 10px;
        margin-bottom: 10px;
        &TextInnder {
            .activeChangeHref {
                font-family: 'Roboto';
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 68px; /* 485.714% */
            }
        }
    }
}
