@import './default_form_config';
@import './header_module_style';
.account__sing-in {
    .account__create-form-inner {
        margin-bottom: 185px;
    }
}
.account__create {
    // &-title-inner {

    // }
    &-title {
        color: #000;
        text-align: center;
        font-family: 'Oswald';
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: 68px; /* 141.667% */
        @media screen and (min-width:700px){
            font-size: 48px;
        }
    }
    &-form-inner {
        max-width: 320px;
        margin: 10px auto 61px auto;
        @media screen and (min-width:700px){
            margin: 70px auto 61px auto;
            max-width: 620px;
        }
    }
    &-suptitle-inner {
        text-align: center;
        @media screen and (min-width:700px){
            text-align: inherit;
        }
    }
    &-suptitle {
        color: #000;
        font-family: 'Oswald';
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 68px; /* 283.333% */
    }
    &-form {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        margin-bottom: 30px;
    }
    &-form-item {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        @media screen and (min-width:700px){
            flex-direction: row;

        }
    }
    &-form-item-label {
        min-width: 150px; 
        display: flex;
        align-items: center; 
    }
    &-form-item-input {
        width: 280px;
        height: 44px;
        border: 1px solid #C4C4C4;
        background: #FFF;
        padding-left: 20px;
        @media screen and (min-width:700px){
            width: 443px;
        }
    }
    &-form-news-letter {
        color: #828282;
        display: flex;
        flex-direction: row;
        justify-content: center;
        @media screen and (min-width:700px){
            display: block;
        }
    }
    &-form-news-letter-item-input {
        margin: 0;
    }
    &-form-news-letter-item-label {
        margin-left: 10px;
    }
    &-forgot-pass {
        display: flex;
        justify-content: flex-end;
    }
    &-forgot-pass-button {
        background-color: initial;
        border: 1px solid #fff;
        color: #828282;
        text-transform: uppercase;
        &:hover {
            color: #000;
        }
    }

    &-button-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    // &-holder {

    // }
    &-button {
        cursor: pointer;
        background-color: #000;
        border: 1px solid #000;
        width: 270px;
        height: 50px;
        flex-shrink: 0;
        color: #FFF;
        text-align: center;
        font-family: 'Oswald';
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        transition-duration: 600ms;
        &:hover {
            border: 1px solid rgb(223, 182, 2);
            border-radius: 15%;
        }
    }
    // &-button-back-inner {

    // }
    &-batton-back {
        cursor: pointer;
        background-color: inherit;
        border: 1px solid #fff;
        color: #828282;
        text-align: right;
        font-family: 'Oswald';
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        transition-duration: 500ms;
        &:hover {
            color: #000;
        }
    }
}
@import './moduleChangerHrefStyles';
@import './main_modules_style/section10_module_style'; 
@import './footer_module_style';