@import './default_form_config';
@import './header_module_style';
.main {
    .contentWrapperAccountCreate {
        .moduleHrefInner {
            display: flex;
            justify-content: center;
            margin: 13px 0;
            color: #828282;
            &Block {
                &TextInner {
                    .activeChangeHref {
                        margin: 0;
                    }
                }
            }
        }
        &TitleInner {
            &Title {
                color: #000;
                text-align: center;
                font-family: 'Oswald';
                font-size: 26px;
                font-style: normal;
                font-weight: 400;
                line-height: 68px; /* 141.667% */
                @media screen and (min-width:700px){
                    font-size: 48px;
                }
            }
        }
        .dashboardInner {
            max-width: 1454px;
            border: 1px solid #000;
            margin: 17px auto 64px auto;
            &Content {
                display: flex;
                margin: 73px 212px 300px 212px;
                &ActionListInner {
                    min-width: 275px;
                    margin-right: 108px;
                    &List {
                        display: flex;
                        flex-direction: column;
                        row-gap: 20px;
                        &Link {
                            border: none;
                            &:hover {
                                border: none;
                            }
                            &Item {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                max-width: 288px;
                                height: 44px;
                                color: black;
                                font-family: 'Oswald';
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 24px; /* 133.333% */
                                padding-left: 13px;
                                &:hover {
                                    background: #F0F2F2;
                                }
                            }
                        }
                    }
                }
                &InfoInner {
                    width: 100%;
                    &Content {
                        .accountInfo {
                            &TitleInner {
                                margin-bottom: 36px;
                                &Title {
                                    font-family: 'Oswald';
                                    font-size: 24px;
                                    font-style: normal;
                                    font-weight: 400;
                                }
                            }
                            &Content {
                                &Form {
                                    display: flex;
                                    flex-direction: column;
                                    row-gap: 15px;
                                    &Sec {
                                        display: flex;
                                        align-items: center;
                                        &Label {
                                            margin-right: 16px;
                                            min-width: 147px;
                                        }
                                        &Input {
                                            margin: 0;
                                        }
                                    }
                                    &Checkbox {
                                        display: flex;
                                        &Input {
                                            &.inputForFormsCheckbox {
                                                margin-right: 10px;
                                            }
                                        }
                                        &Label {
                                            margin: 0;
                                        }
                                    }
                                    &ButtonInner {
                                        margin-top: 45px;
                                        &Button {
                                            width: 140px;
                                            height: 50px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@import './main_modules_style/section10_module_style'; 
@import './footer_module_style';