@import './default_form_config';
@import './header_module_style';
.main { 
    @import './main_modules_style/section3_module_style';
    @import './moduleChangerHrefStyles';
    @import './main_modules_style/section4_module_style';
    @import './main_modules_style/section5_module_style';
    @import './main_modules_style/section10_module_style';  
    .page3Config {
        .section5Wrapper {
            .section5 {
                 .cardShopingInner {
                    .cardShoping {
                            .cardShopingInfoInner  {
                                background: linear-gradient(90deg, #F6F8FC 0%, #F6F8FC 44.79%, #F5F7FA 74.48%, rgba(243, 239, 238, 0.00) 100%);
                                width: 75%;
                            }
                            .cardShopingImgInner {
                                max-width: 915px;
                                background-image: url('./img/page2-Img-sec5.png');  
                            }
                    }
                 }
            }
        }
    }
    .colorFilter {
        &ListStyle {
            max-width: 270px;
            display: grid;
            grid-template-columns: 46px 46px 46px 46px 46px;
            grid-template-rows: 46px 46px 46px 46px;
            grid-row-gap: 10px;
            grid-column-gap: 10px;
            &ListItem {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 46px;
                height: 46px;
                border: 1px solid #C4C4C4;
                color: #C4C4C4;
                text-transform: uppercase;
                &:hover {
                    border: 2px solid #000;
                    color: #000;
                }
            }
        }
    }
}
@import './footer_module_style';