.section10Wrapper {
    .section10 {
        background: #E6F1FA;
        &Inner {
            &ListStyleInner {
                padding: 20px 0;
                @media screen and (min-width:1800px) {
                    padding: 30px 0;
                }
                &ListStyle {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    row-gap: 7px;
                    max-width: 191px;
                    margin: 0 auto;
                    @media screen and (min-width:800px) {
                        flex-direction: row;
                        max-width: 760px;
                    }
                    @media screen and (min-width:1000px) {
                        flex-direction: row;
                        max-width: 79%;
                    }
                    @media screen and (min-width:1910px) {
                        justify-content: space-between;
                        // column-gap: 203px;
                        max-width: 79%;
                    }
                    &ListItem {
                        display: flex;
                        align-items: center;
                        list-style: none;
                        color: #000;
                        font-family: 'Oswald';
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        &:before {
                            content: url(./img/arrowSec10.svg);
                            padding-right: 14px;
                        }
                    }
                }
            }
        }
    }
}