.section7Wrapper {
    .wrapperSectionCatalog {
        @media screen and (min-width: 1820px) {
            margin-top: 54px;
        }
        .sectionCatalog {
            .InnerCatalog {
                &InnerItem {
                    &:nth-of-type(1) {
                        .catalogItem {
                            &ImgInner {
                                background-image: url('./img/catalogImg3.png');
                            }
                        }
                    }
                    &:nth-of-type(2) {
                        .catalogItem {
                            &ImgInner {
                                background-image: url('./img/catalogImg7.png');
                            }
                        }
                    }
                    &:nth-of-type(3) {
                        .catalogItem {
                            &ImgInner {
                                background-image: url('./img/catalogImg6.png');
                            }
                        }
                    }
                    &:nth-of-type(4) {
                        .catalogItem {
                            &ImgInner {
                                background-image: url('./img/catalogImg1.png');
                            }
                        }
                    }
                    &:nth-of-type(5) {
                        .catalogItem {
                            &ImgInner {
                                background-image: url('./img/catalogImg2.png');
                            }
                        }
                    }
                }   
            }
        }
    }
}