.section7 {
    .section {
        @media screen and (min-width: 1820px) {
            margin-top: 54px;
        }
        &__catalog-item {
            &:nth-of-type(1) {
                .section__catalog-img {
                    background-image: url('./img/catalogImg3.png');
                }
            }
            &:nth-of-type(2) {
                .section__catalog-img {
                    background-image: url('./img/catalogImg7.png');
                }
            }
            &:nth-of-type(3) {
                .section__catalog-img {
                    background-image: url('./img/catalogImg6.png');
                }
            }
            &:nth-of-type(4) {
                .section__catalog-img {
                    background-image: url('./img/catalogImg1.png');
                }
            }
            &:nth-of-type(5) {
                .section__catalog-img {
                    background-image: url('./img/catalogImg2.png');
                }
            }
        }  
        &__catalog-button-inner {
            display: none;
        }
    }
}