.section4wrapper {
    // padding: 15px 14px;
    @media screen and (min-width:1700px) {
        padding-top: 21px;
    }
    .section4 {
        max-width: 292px;
        margin: 0 auto;
        .section4TitleInnerSpecialSetting {
            display: flex;
            flex-direction: column;
            @media screen and (min-width: 1890px) {
                flex-direction: row;
            }
            &Inner {
                margin: 20px 0;
                &FilterStatesInner {
                    max-width: 345px;
                    border: 1px solid #000;
                    &ContentBlock {
                        max-width: 90%;
                        margin: 5px auto;
                        @media screen and (min-width: 700px) {
                            margin: 28px auto;
                        }
                        &TitlePlusResetInner {
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 26px;
                            &Title {
                                &Text {
                                    color: #000;
                                    font-family: 'Oswald';
                                    font-size: 32px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 68px; /* 212.5% */
                                }
                            }
                            &Reset {
                                display: flex;
                                align-items: center;
                                position: relative;
                                cursor: pointer;
                                border: 1px solid #fff;
                                transition-duration: 1000ms;
                                &:hover {
                                    border: 1px solid #971E34;
                                    border-radius: 7px;
                                    background-color: #fff;
                                }
                                &::before {
                                    content: url('./img/xSymbol.svg');
                                    left: -15px;
                                    position: absolute;
                                }
                                &::after {
                                    content: url('./img/xSymbol.svg');
                                    left: -15px;
                                    position: absolute;
                                    transform: rotate(-90deg);
                                }
                                &Text {
                                    margin: 0;
                                }
                            }
                        }
                        &ActiveFilterItemInner {
                            margin-top: 20px;
                            &Title {
                                &Text {
                                    color: #000;
                                    font-family: 'Oswald';
                                    font-size: 24px;
                                    font-style: normal;
                                    font-weight: 400;
                                }
                            }
                            &ActiveStates {
                                display: flex;
                                margin-top: 16px;
                                column-gap: 10px;
                                &State {
                                    font-family: 'Roboto';
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 400;
                                    text-transform: uppercase;
                                }
                            }
                        }
                    }
                }
                &FilterInner {
                    width: 95%;
                    @media screen and (min-width: 0px) {
                    }
                    &FilBrandInner {
                        &TitleInner {
                            &Title {
                                margin: 0;
                                display: flex;
                                justify-content: space-between;
                                &::after {
                                    content: url(./img/addableSymbol.svg);
                                }
                                &.active::after {
                                    content: '-';
                                    text-transform: uppercase;
                                    font-weight: 900;
                                    font-size: 40px;
                                }
                            }
                        }
                        &ListInner {
                            &ListStyle {
                                &ListItem {
                                    &Input {
                                        margin: 0;
                                    }
                                    &Label {
                                        margin: 0;
                                    }
                                }
                            }
                        }
                    }
                    &FilSizeInner {
                        &InnerTitleInner {
                            &Title {
                                display: flex;
                                justify-content: space-between;
                                &::after {
                                    content: url(./img/addableSymbol.svg);
                                }
                                &.active::after {
                                    content: '-';
                                    text-transform: uppercase;
                                    font-weight: 900;
                                    font-size: 40px;
                                }
                            }
                        }
                        &InnerColorFilterInner {
                            margin: 0;  
                        }
                    }
                    &Fil {
                        padding: 15px 0;
                        @media screen and (min-width: 700px) {
                            padding: 0;
                        }
                        &LengthTitleInner {
                            &Title {
                                display: flex;
                                justify-content: space-between;
                                &::after {
                                    content: url(./img/addableSymbol.svg);
                                }
                                &.active::after {
                                    content: '-';
                                    text-transform: uppercase;
                                    font-weight: 900;
                                    font-size: 40px;
                                }
                            }
                        }
                        &BrandInnerListInner {
                            &ListStyle {
                                &ListItem {
                                    &Input {
                                        margin: 0;
                                    }
                                    &Label {
                                        margin: 0;
                                    }
                                }
                            }
                        }
                    }
                    &FilColorInner {
                        &TitleInner {
                            &Title {
                                display: flex;
                                justify-content: space-between;
                                &::after {
                                    content: url(./img/addableSymbol.svg);
                                }
                                &.active::after {
                                    content: '-';
                                    text-transform: uppercase;
                                    font-weight: 900;
                                    font-size: 40px;
                                }
                            }
                        }
                        &ColorInner {
                            &ListStyle {
                                max-width: 260px;
                                display: flex;
                                flex-wrap: wrap;
                                gap: 6px;
                                &Border {
                                    padding: 5px;
                                    border: 2px solid #fff;
                                    &:hover {
                                        padding: 5px;
                                        border: 2px solid #000;
                                    }
                                    &:nth-child(1) {
                                        .section4TitleInnerSpecialSettingInnerFilterInnerFilColorInnerColorInnerListStyleBorderListItem {
                                            background-color: #000;
                                        }
                                    }
                                    &:nth-child(2) {
                                        .section4TitleInnerSpecialSettingInnerFilterInnerFilColorInnerColorInnerListStyleBorderListItem {
                                            background-color: #F3ECE2;
                                        }
                                    }
                                    &:nth-child(3) {
                                        .section4TitleInnerSpecialSettingInnerFilterInnerFilColorInnerColorInnerListStyleBorderListItem {
                                            background-color: #24426A;
                                        }
                                    }
                                    &:nth-child(4) {
                                        .section4TitleInnerSpecialSettingInnerFilterInnerFilColorInnerColorInnerListStyleBorderListItem {
                                            background-color: #18574A;
                                        }
                                    }
                                    &:nth-child(5) {
                                        .section4TitleInnerSpecialSettingInnerFilterInnerFilColorInnerColorInnerListStyleBorderListItem {
                                            background-color: #666689;
                                        }
                                    }
                                    &:nth-child(6) {
                                        .section4TitleInnerSpecialSettingInnerFilterInnerFilColorInnerColorInnerListStyleBorderListItem {
                                            background-color: #C2BEB6;
                                        }
                                    }
                                    &:nth-child(7) {
                                        .section4TitleInnerSpecialSettingInnerFilterInnerFilColorInnerColorInnerListStyleBorderListItem {
                                            background-color: #AAABA7;
                                        }
                                    }
                                    &:nth-child(8) {
                                        .section4TitleInnerSpecialSettingInnerFilterInnerFilColorInnerColorInnerListStyleBorderListItem {
                                            background-color: #971E34;
                                        }
                                    }
                                    &:nth-child(9) {
                                        .section4TitleInnerSpecialSettingInnerFilterInnerFilColorInnerColorInnerListStyleBorderListItem {
                                            background-color: #CBA13E;
                                        }
                                    }
                                    &:nth-child(10) {
                                        .section4TitleInnerSpecialSettingInnerFilterInnerFilColorInnerColorInnerListStyleBorderListItem {
                                            background-color: #73513C;
                                        }
                                    }
                                    &:nth-child(11) {
                                        .section4TitleInnerSpecialSettingInnerFilterInnerFilColorInnerColorInnerListStyleBorderListItem {
                                            background-color: #DAB1B1;
                                        }
                                    }
                                    &:nth-child(12) {
                                        .section4TitleInnerSpecialSettingInnerFilterInnerFilColorInnerColorInnerListStyleBorderListItem {
                                            background-color: #2B9FA7;
                                        }
                                    }
                                    &ListItem {
                                        width: 17px;
                                        height: 17px;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                    &FilPriceInner {
                        &TitleInner {
                            &Title {
                                display: flex;
                                justify-content: space-between;
                                &::after {
                                    content: url(./img/addableSymbol.svg);
                                }
                                &.active::after {
                                    content: '-';
                                    text-transform: uppercase;
                                    font-weight: 900;
                                    font-size: 40px;
                                }
                            }
                        }
                        &ListStyleInner {
                            &Price {
                                display: flex;
                                justify-content: space-between;
                                max-width: 344px;
                                &Start {
                                    margin: 0;
                                }
                                &End {
                                    margin: 0;
                                }
                            }
                            &Slider {
                                margin: 0;
                            }
                            .range-slider {
                                padding: 0;
                            }
                            &ButtonInner {
                                display: flex;
                                justify-content: flex-end;
                                margin-top: 60px;
                                margin-bottom: 10px;
                                @media screen and (min-width: 350px) {
                                    max-width: 344px;
                                }
                                @media screen and (min-width: 1100px) {
                                    margin-bottom: 65px;
                                }
                                &Button {
                                    width: 114px;
                                    height: 40px;
                                    flex-shrink: 0;
                                    color: #828282;
                                    text-align: center;
                                    font-family: 'Oswald';
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: normal;
                                    letter-spacing: 0.5px;
                                    text-transform: uppercase;
                                    &:hover {
                                        color: #000;
                                        border: 1px solid #000;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        @media screen and (min-width:460px) {
            max-width: 445px;
        }
        @media screen and (min-width:620px) {
            max-width: 598px;
        }
        @media screen and (min-width:800px) {
            max-width: 720px;
        }
        @media screen and (min-width:1110px) {
            max-width: 1110px;
        }
        @media screen and (min-width:1480px) {
            max-width: 1480px;
        }
        @media screen and (min-width:1878px) {
            display: flex;
            max-width: 1878px;
        }
        &TitleInner {
            max-width: 100px;
            margin-bottom: 16px;
            @media screen and (min-width: 1200px) {
                max-width: 200px;
            }
            @media screen and (min-width:1878px) {
                margin-right: 10%;
            }
            &Title {
                white-space: nowrap;
                @media screen and (min-width: 1200px) {
                    font-size: 24px;
                }
                @media screen and (min-width: 1200px) {
                    font-size: 24px;
                }
                color: #000;
                /* Oswald Regular 24 */
                font-family: 'Oswald';
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 68px; /* 283.333% */
            }
            &Filter {
                display: none;
                @media screen and (min-width:1878px) {
                    display: block;
                }
                &ListStyle {
                    &Item {
                        &Text {
                            margin-left: 10px;
                            text-transform: uppercase;
                            color: #3F3F3F;
                            font-family: 'Roboto';
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 40px; /* 485.714% */
                            @media screen and (min-width:1700px) {
                                line-height: 42px;
                            }
                        }
                        .FilterCheckBox {
                            border: 1px solid #000;
                            background-color: #EB5757;
                            &:checked {
                                border: .5em solid #FFEB3B;
                            }
                            &:focus + label {
                                color: #000;
                            }
                        }
                    }
                }
            }
        }
        .catalogPlusButtonInner {
            .slidePriceAndSizeInner {
                display: flex;
                column-gap: 20px;
                justify-content: flex-end;
                &PriceBlock {
                    &Select {
                        width: 205px;
                        height: 46px;   
                        font-family: 'Oswald';
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 68px; /* 485.714% */
                        text-transform: uppercase;
                        padding-left: 11px;
                        padding-right: 18px;
                        border: 1px solid #C4C4C4;
                        @media screen and (min-width: 700px) {
                            width: 255px;
                        }
                        &Option {
                            margin: 0;
                        }
                    }
                }
                &SizeBlock {
                    &Select {
                        width: 69px;
                        height: 46px;
                        font-family: 'Oswald';
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 68px; /* 485.714% */
                        text-transform: uppercase;
                        padding-left: 11px;
                        border: 1px solid #C4C4C4;
                        &Option {
                            margin: 0;
                        }
                    }
                }
            }
            @media screen and (min-width:1878px) {
                padding-left: 3.3%;
                border-left: 1px solid #C4C4C4;
            }
            .section5Wrapper {
                .section5 {
                    .cardShopingInfoInner {
                        background: linear-gradient(90deg, #000 0%, #000 69.37%, #000 89.11%, rgba(0, 0, 0, 0.00) 100%);
                        .cardShopingInfo {
                            color: #fff;
                            @media screen and (min-width:630px) and (max-width: 805px){
                                width: 100%;
                                max-width: 500px;
                            }
                            @media screen and (min-width:940px){
                                margin-left: 5%;
                            }
                            .cardShopingInfoTittle {
                                @media screen and (min-width:510px) and (max-width: 630px){
                                    font-size: 30px;
                                }
                                @media screen and (min-width:630px) and (max-width: 805px){
                                    font-size: 44px;
                                }
                            }
                            .cardShopingInfoSubTitle {
                                @media screen and (min-width:510px) and (max-width: 630px){
                                    font-size: 15px;
                                }
                                @media screen and (min-width:729px) and (max-width: 800px){
                                    font-size: 22px;
                                }
                            }
                            .bordedSpecInner {
                                svg > path {
                                    stroke: #fff;
                                }
                            }
                            .cardShopingButton {
                                border: 1px solid #fff;
                                color: #fff;
                            }
                        }
                    }
                    .cardShopingImgInner {
                        max-width: 175px;
                        background-image: url('./img/page2-blackBg-cardGirl.png');
                        @media screen and (min-width: 460px) {
                            background-image: url('./img/page2-Bg.png');
                            max-width: 950px;    
                        }
                    }
                }
            }
            .InnerCatalog {
                max-width: 292px;
                display: grid;
                grid-template-columns: 139px 139px;
                column-gap: 14px;
                row-gap: 18px;
                &:not(:first-child) {
                    margin-top: 26px;
                }
                @media screen and (min-width: 460px) {
                    grid-template-columns: 139px 139px 139px;
                }
                @media screen and (min-width:620px) {
                    grid-template-columns: 139px 139px 139px 139px;
                }
                @media screen and (min-width: 800px) {
                    grid-template-columns: 344px 344px;
                    row-gap: 48px;
                    column-gap: 26px;
                }
                @media screen and (min-width: 1110px) {
                    grid-template-columns: 344px 344px 344px;
                }
                @media screen and (min-width: 1480px) {
                    grid-template-columns: 344px 344px 344px 344px;
                }
                @media screen and (min-width: 1700px) {
                    max-width: none;
                }
                &InnerItem {
                    &:nth-of-type(1) {
                        .catalogItem {
                            &ImgInner {
                                background-image: url('./img/catalogImg0.png');
                                @media screen and (min-width: 800px) {
                                    background-image: url('./img/catalogImg0Desk.png');
                                }
                            }
                        }
                    }
                    &:nth-of-type(2) {
                        .catalogItem {
                            &ImgInner {
                                background-image: url('./img/catalogImg1.png');
                                @media screen and (min-width: 800px) {
                                    background-image: url('./img/catalogImg1Desk.png');
                                }
                            }
                        }
                    }
                    &:nth-of-type(3) {
                        .catalogItem {
                            &ImgInner {
                                background-image: url('./img/catalogImg2.png');
                                @media screen and (min-width: 800px) {
                                    background-image: url('./img/catalogImg2Desk.png');
                                }
                            }
                        }
                    }
                    &:nth-of-type(4) {
                        .catalogItem {
                            &ImgInner {
                                background-image: url('./img/catalogImg0.png');
                                @media screen and (min-width: 800px) {
                                    background-image: url('./img/catalogImg0Desk.png');
                                }
                            }
                        }
                    }
                    &:nth-of-type(5) {
                        .catalogItem {
                            &ImgInner {
                                background-image: url('./img/catalogImg3.png');
                                @media screen and (min-width: 800px) {
                                    background-image: url('./img/catalogImg3Desk.png');
                                }
                            }
                        }
                    }
                    &:nth-of-type(6) {
                        .catalogItem {
                            &ImgInner {
                                background-image: url('./img/catalogImg4.png');
                                @media screen and (min-width: 800px) {
                                    background-image: url('./img/catalogImg4Desk.png');
                                }
                            }
                        }
                    }
                    &:nth-of-type(7) {
                        .catalogItem {
                            &ImgInner {
                                background-image: url('./img/catalogImg1.png');
                                @media screen and (min-width: 800px) {
                                    background-image: url('./img/catalogImg1Desk.png');
                                }
                            }
                        }
                    }
                    &:nth-of-type(8) {
                        .catalogItem {
                            &ImgInner {
                                background-image: url('./img/catalogImg6.png');
                                @media screen and (min-width: 800px) {
                                    background-image: url('./img/catalogImg6Desk.png');
                                }
                            }
                        }
                    }
                    &:nth-of-type(9) {
                        .catalogItem {
                            &ImgInner {
                                background-image: url('./img/catalogImg0.png');
                                @media screen and (min-width: 800px) {
                                    background-image: url('./img/catalogImg0Desk.png');
                                }
                            }
                        }
                    }
                    &:nth-of-type(10) {
                        .catalogItem {
                            &ImgInner {
                                background-image: url('./img/catalogImg6.png');
                                @media screen and (min-width: 800px) {
                                    background-image: url('./img/catalogImg6Desk.png');
                                }
                            }
                        }
                    }
                    &:nth-of-type(11) {
                        .catalogItem {
                            &ImgInner {
                                background-image: url('./img/catalogImg1.png');
                                @media screen and (min-width: 800px) {
                                    background-image: url('./img/catalogImg1Desk.png');
                                }
                            }
                        }
                    }
                    &:nth-of-type(12) {
                        .catalogItem {
                            &ImgInner {
                                background-image: url('./img/catalogImg4.png');
                                @media screen and (min-width: 800px) {
                                    background-image: url('./img/catalogImg4Desk.png');
                                }
                            }
                        }
                    }
                    .percentOfSale {
                        display: none;
                    }
                    &#activeSale {
                        .catalogItem {
                            &ImgInner {
                                position: relative;
                                .percentOfSale {
                                    display: flex;
                                    position: absolute;
                                    top: 5%;
                                    background-color: #000;
                                    width: 33px;
                                    height: 17px;
                                    flex-direction: column;
                                    justify-content: center;
                                    flex-shrink: 0;
                                    @media screen and (min-width: 750px) {
                                        width: 40px;
                                        height: 20px;
                                    }
                                    &P {
                                        color: #FFF;
                                        text-align: center;
                                        font-family: 'Oswald';
                                        font-size: 12px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: normal;
                                        @media screen and (min-width: 750px) {
                                            font-size: 14px;
                                        }
                                    }
                                }
                            }
                            &InfoInner {
                                &Price {
                                    position: relative;
                                    &::after {
                                        position: absolute;
                                        left: 51%;
                                        top: 27%;
                                        text-decoration:  line-through;
                                        content: '119,00 EUR';
                                        color: #828282;
                                        font-family: 'Oswald';
                                        font-size: 8px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: normal;
                                        text-transform: uppercase;
                                        @media screen and (min-width: 750px) {
                                            font-size: 14px;
                                            left: 37%;
                                        }
                                    }
                                    &P {
                                        color: red;
                                    }
                                }
                            }
                        }
                    }
                    .catalogItem {
                        &ImgInner {
                            width: 139px;
                            height: 182px;
                            background-repeat: no-repeat;
                            background-size: contain;
                            transition-duration: 600ms;
                            border: 1px solid #fff;
                            position: relative;
                            &:hover {
                                border: 1px solid #000;
                                border-radius: 19px;
                                box-shadow: 2px 2px #000;
                                &:before {
                                    content: url('img/symbolLike.svg');
                                    right: 35%;
                                    top: 35%;
                                    position: absolute;
                                    &::content{
                                        svg {
                                            path {
                                                fill: #971E34;
                                                stroke: #2B9FA7;
                                            }
                                        }
                                    }                                  
                                }
                            }
                            @media screen and (min-width: 800px) {
                                width: 344px;
                                height: 450px;
                            }
                        }
                        &InfoInner {
                            &Gander {
                                max-width: 139px;
                                height: 22px;
                                display: flex;
                                align-items: center;
                                @media screen and (min-width: 800px) {
                                    margin-top: 14px;
                                }
                                &P {
                                    color: #BDBDBD;
                                    font-family: 'Oswald';
                                    font-size: 10px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: normal;
                                    text-transform: uppercase;
                                    @media screen and (min-width: 750px) {
                                        font-size: 12px;
                                    }
                                }
                            }
                            &SubTitle {
                                max-width: 139px;
                                @media screen and (min-width: 750px) {
                                    max-width: 300px;
                                }
                                &P {
                                    color: #000;
                                    font-family: 'Oswald';
                                    font-size: 12px;
                                    font-style: normal;
                                    font-weight: 300;
                                    line-height: 18px; /* 150% */
                                    @media screen and (min-width: 800px) {
                                        font-size: 18px;
                                    }
                                }
                            }
                            &Price {
                                @media screen and (min-width: 750px) {
                                    margin-top: 18px;
                                }
                                &P {
                                    color: #000;
                                    font-family: 'Oswald';
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: normal;
                                    text-transform: uppercase;
                                    @media screen and (min-width: 800px) {
                                        font-size: 22px;
                                    }
                                }
                            }
                        }
                    }
                }   
            }
            .catalogButtonInner {
                @media screen and (min-width: 1700px) {
                    margin-top: 35px;
                }
            }
        } 
    }
}